In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/go-to-college-dataset/data.csv

In [5]:
# Import data
go_to_college_data = pd.read_csv("/kaggle/input/go-to-college-dataset/data.csv")
go_to_college_data.head(5)

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,in_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False

In [6]:
#Perform descriptive statistics
go_to_college_data.describe()

        parent_age  parent_salary   house_area  average_grades
count  1000.000000   1.000000e+03  1000.000000     1000.000000
mean     52.208000   5.381570e+06    74.515300       86.097200
std       3.500427   1.397546e+06    15.293346        3.378738
min      40.000000   1.000000e+06    20.000000       75.000000
25%      50.000000   4.360000e+06    64.600000       83.737500
50%      52.000000   5.440000e+06    75.500000       85.575000
75%      54.000000   6.382500e+06    84.825000       88.262500
max      65.000000   1.000000e+07   120.000000       98.000000

In [14]:
#Check whether there are any missing values
go_to_college_data.isnull().sum()

type_school              0
school_accreditation     0
gender                   0
interest                 0
residence                0
parent_age               0
parent_salary            0
house_area               0
average_grades           0
parent_was_in_college    0
in_college               0
dtype: int64